/* 
    Title: site.css 
    Author: Gunner Bradley
    Date: 08/14/21
    Description: Global Stylesheet
*/

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
   
}

.assign-container {
    padding: 10px;
}

.assign-content {
    width: 600px;
    margin: 3% auto 0;
    
    transition: 0.3s;
}

.assign-results-text {
    text-align: center;
    font-size: 28px;
}

.app-header {
    font-size: 28px;
    text-align: center;
}

#results-container {
    width: 600px;
    margin: 3% auto 0;
}

.full-width {
    width: 100%;
}

.form {
    display: inline-grid;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
   
}

#icon-mode:hover {
    cursor: pointer;
}

#icon-text {
    padding-left: 10px;
}

.pull-right {
    float: right;
}
