/* 
    Title: theme.css 
    Author: Gunner Bradley
    Date: 08/14/21
    Description: Global Stylesheet
*/

body.light-theme {
    --text-color: #000;
    --background-color: #fff;
    --anchor-color: #4F3674;
    --h1-background-color: #3C275A;
    --h1-border-color: #D6A800;
    --heading-background-color: #3c275a;
    --heading-color: #fff;
    --heading-border-color: #D6A800;
    --anchor-hover-color: #4F3674;
    --anchor-hover-background-color: #D6A800;
    --card-background-color: #fff;
    --card-title-color: #4F3674;
    --btn-color: #fff;
    --btn-background-color: #4F3674;
    --btn-hover-color: #fff;
    --input-border-color: #ccc;
    --table-header-background-color: #4F3674;
    --table-header-color: #fff;
    --table-border-color: #ddd;
    --table-hover-background-color: #D6A800;
    --table-hover-color: #4F3674;
}

body.dark-theme {
    --text-color: #fafafa;
    --background-color: #303030;
    --anchor-color: #fff;
    --h1-background-color: #9c27b0;
    --h1-border-color: #9c27b0;
    --heading-background-color: #424242;
    --heading-color: #fff;
    --heading-border-color: #424242;
    --anchor-hover-color: #d176e1;
    --anchor-hover-background-color: #303030;
    --card-background-color: #424242;
    --card-title-color: #d176e1;
    --btn-color: #fff;
    --btn-background-color: #7d4787;
    --btn-hover-color: #fff;
    --input-border-color: #303030;
    --table-header-background-color:#D176E1;
    --table-header-color: #fff;
    --table-border-color: #303030;
    --table-hover-background-color: #7d4787;
    --table-hover-color: #fff;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
a {
    color: var(--anchor-color);
}
a:hover{
    color: var(--anchor-hover-color);
    background-color: var(--anchor-hover-background-color);
}
h1{
    color: var(--heading-color);
    background-color: var(--h1-background-color);
    padding: 10px;
    border:  1px solid var(--h1-border-color);
}
h2, h3, h4 {
    color: var(--heading-color);
    background-color: var(--heading-background-color);
    padding: 10px;
    border:  1px solid var(--heading-border-color);
}
input{
   border: 1px solid var(--input-border-color); 
   padding: 10px 20px;
   border-radius: 5px;
}
.wrapper{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    background-color: var( --card-background-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba( 0, 0, 0, 0.25);
    margin: 10px auto;
}
.card-title{
    color: var(--card-title-color);
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    
}
.btn-primary {
    color: var(--btn-color);
    background-color: var(--btn-background-color);
    padding: 10px 75px;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: var(--btn-background-color);
}
.drop-down-menu {
    border: 1px solid var(--input-border-color)
}

#container {
    margin: 50px 100px 0 100px;
}

#icon-mode:hover{
    cursor: pointer;
}

#icon-text{
    padding-left: 10px;
}

.pull-right{
    float: right;
}

.link-styles{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
.link-styles:hover {
    background-color: #D6A800;
    
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: var(--table-header-color);
    background-color: var(--table-header-background-color);
}


td, th {
    border: 1px solid #ddd;
    padding: 8px;
	border-color: var(--table-border-color);
}

tr:hover {
    background-color: var(--table-hover-background-color);
    color: var(--table-hover-color);
    cursor: pointer;
}